*{
    margin:0px;
    padding:0px;
}

.main{
    width:50%;
    margin:auto;
    flex-direction:column;
}
.main>*{
    display:flex !important;
}
.banner{
    background-color:red;
    height:100px;
}
.user{
    flex-direction:column;
}
.nav{

}
button{
    list-style-type:none;
    padding:0px;
    font-size:1.5em;
    text-align: center;
    margin:auto;
    width:100%;
    flex-direction:row;
}
.test{
    position:fixed;
}